:root {
    --glowny-kolor-tla: brown;
}

* {
    font-family: 'VT323', Times, serif;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    color: white;
}

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.page {
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.content {
    font-size: 7rem;
    line-height: 60px;
    letter-spacing: 4px;
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-basis: 5%;
    font-size: 3.5rem;
}

.text-right {
    flex-basis: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.text-left {
    flex-basis: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.line {
    flex-basis: 0%;
    height: 100%;
    border-left: 1px solid white;
}

.bg {
    background-color: #1d1f1f;
    /*background-image: url('cyber.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;*/
}

.icon-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    font-size: 5.2rem;
    margin-bottom: 30px;
}

.pfooter {
    font-size: 2.5rem;
}

.text {
    position: absolute;
    font-size: 4rem;
    /*text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bold;
}

.animate {
    animation: animate 2s infinite linear;
}

.project {
    margin: 20px 100px 0 100px;
}

.project i {
    font-size: 3.5rem;
    margin-top: 20px;
}

.project i:hover {
    color: #7b8080;
}

.icons-contact {
    font-size: 8rem;
}

.icons-contact i:hover {
    color: #7b8080;
}

.content-name {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    list-style: disc;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

li {
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
    font-size: 4rem;
}

h2 {
    font-size: 4.5rem;
    margin-bottom: 20px;
}

@keyframes animate {
    0% {
        transform: translateY(-0.8em)
    }

    50% {
        transform: translateY(0.6em)
    }

    100% {
        transform: translateY(-0.8em)
    }
}